.DS_Store
.ipynb_checkpoints/
.tmp_venv/
.venv/
__pycache__/

data/processed/*
!data/processed/.gitkeep

reports/figures/*
!reports/figures/.gitkeep

/backtests/*

output/root-3-tuning/generated_algorithms/*

data/round 1/results/root 3/*
output/root-3-tuning/*
data/round 2/results/*